*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --twitter-blue: #1da1f2;
    --twitter-border: #ebeef0;
}

body{
    color: #0f1419;
    -webkit-font-smoothing: antialiased; /*deixa as fontes mais nítidas;deltalhadas*/
}

body, input, textarea, button{
    font: 400 1rem Roboto, sans-serif;
}

button{
    cursor: pointer;
}

a{
    color: inherit;
}





