.layout{
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr; /*sidebar 300px e o restante seja flexivel*/
}


/* CONTENT */
.content{
    border-left: 1px solid var(--twitter-border);
    border-right: 1px solid var(--twitter-border);
}

@media(max-width: 780px){
    .layout{
        grid-template-columns: 80px 1fr;
    }
}